# KDE env file
current.env

# ngrok env file
ngrok.env

# K8S environment
environments/*/.telepresence
environments/*/kubeconfig
environments/*/pki
environments/*/.env
environments/*/kind-config.yaml
environments/*/k3d-config.yaml
environments/*/namespaces/*/*.doc
environments/*/namespaces/*/*.tar

# Project
environments/*/namespaces/*/*/
environments/*/namespaces/*/deploy.env
environments/*/namespaces/*/gitlab.env
environments/*/namespaces/*/*.release.tgz
environments/*/namespaces/*/release.env
environments/*/namespaces/*/.env
environments/*/namespaces/*/.pipeline.env


# npm cache
environments/*/namespaces/*/.npm
environments/*/namespaces/*/.npmrc

# tmp files
*.tmp

# tar files
*.tgz
*.tar

# cloudflare
.cloudflared

# code-server
.code-server

# k9s
k9s/clusters
k9s/.config
k9s/.data